@import "../../scss/variables.scss";

footer {
  box-sizing: border-box;
  background-color: $banner-background-color;
  color: white;
  text-align: center;
  margin-top: 2rem;
  padding: 2rem;
  width: 100%;
  font-weight: bold;
  font-size: 1.3rem;

  span {
    vertical-align: middle;
    color: $heading-color;
  }
  svg {
    color: white;
    margin-right: 0.5rem;
    width: 1.3rem;
    height: 1.3rem;
  }
}
