@import "../../scss/variables.scss";

.banner {
  width: 100%;
  background-color: $banner-background-color;
  min-height: 4rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #fff;

  h2 {
    margin-left: 3rem;
    font-size: clamp(1rem, 1.2rem, 1.5rem);
    width: 90%;
    margin: 1.2rem auto;

    span {
      color: $heading-color;
    }
  }
}
